$primary: #6050dc;

body {
  margin: 0;
  font-size: 18px;
}
div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  color: white;
  width: 80%;
  margin: 0 auto;
}

header {
  background: $primary;

  a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
  }

  img.logo {
    font-weight: bold;
    max-width: 3vw;
  }
  nav {
    float: right;
    ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }
}
