<div class="new-container" infinite-scroll (scrolled)="onScrollDown()">
  {{sysDate | date:'y-'+sysDate.getMonth()+'-d'}}
  {{sysDate}}
  <mat-grid-list *ngFor="let repo of totalRepositories" cols="4" rowHeight="100px">

    <mat-grid-tile colspan="1" rowspan="2" style.background="lightblue">
      <img id="avatar" [src]="repo.owner.avatar_url" />
    </mat-grid-tile>


    <mat-grid-tile colspan=" 3" rowspan="1" style.background="lightblue">
      {{repo.name}} <br> {{repo.description}}
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1" style.background="lightblue">
      {{repo.stargazers_count}}
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="1" style.background="lightblue">
      {{repo.open_issues_count}}
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1" style.background="lightblue">
      submitted {{calculateDateDiff(repo.created_at)}} days ago by {{repo.owner.login}}
    </mat-grid-tile>

  </mat-grid-list>

</div>
